.pic-area{
    background-image: url('../images/mainframe.gif');
    /* background-size: 100%; */
    background-repeat: repeat;
    /* height: 900px; */
    padding: 24px;
}

.profile-pic{
    position: relative;
    width: 360px!important;
    height: 240px!important;
}

.responsive-card{
    width: 22rem;
}

.responsive-row{
    padding: 2rem;
}

.responsive-col-md{
    padding-left: 2rem!important;
}

@media only screen and (max-width: 600px) {
    .responsive-card{
        width: 100%;
        margin: 5px 0px;
    }

    .responsive-row{
        padding: 0.8rem;
    }

    .responsive-col-md{
        padding-left: 0rem!important;
    }

    .profile-pic{
        width: 100%!important;
    }
}

@media only screen and (min-width: 600px) {
    .responsive-card{
        width: 22.5rem;
    }
    .responsive-row{
        padding: 2rem;
    }
}
.card-border{
    border-top-width: 0px;
     margin-top: 0px; 
     border-bottom-width: 0px; 
     border-left-width: 0px;
     border-right-width: 0px;
}